
@tailwind base;
@tailwind components;
@tailwind utilities;
.header--main
{
    display:flex;
    width:100%;
    height:80px;
    background: #0B660B;
    text-align:center;
    justify-content: end;
    align-items:center;
}

.header--d
{
    display:flex;
    width:100%;
    height:80px;
    background: #0B660B;
    text-align:center;
    justify-content: start;
    align-items:center;
}
.header--icon
{
    text-align:center;
    justify-content: start;
    align-items:center;

}
Image
{
    display:flex;
}

.header--main
{
    color:white ;
    display:flex
}

Link 
{
    text-size:bold;
    color:white;
    text-decoration:none;
}

.link--headers
{
    margin-right:40px;
    transition:all 0.7s;
}

img
{
    display:flex;
}

.link--headers:hover
{
    opacity:70;
    color:#213B21;
}

.header--fix
{
    position:relative;

}