
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body
{
    background-image: url(./img/ufo-bgc.png);
    background-color:rgb(28,25,33);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

.header--main
{
    display:flex;
    width:100%;
    height:80px;
    background-color: #0B660B;
    text-align:center;
    justify-content: end;
    align-items:center;
}

.header--d
{
    display:flex;
    width:100%;
    height:80px;
    text-align:center;
    justify-content: start;
    align-items:center;
}
.header--icon
{
    text-align:center;
    justify-content: start;
    align-items:center;
}

.icon-name--header
{
    margin-top: 14px;
}

Image
{
    display:flex;
}


.link--headers
{
    margin-right:40px;
    transition:all 0.7s;
    font-size: 18px;
}

.ml-10
{
    margin-left:25px;
}

.link--headers:hover
{
    opacity:50%;
}

.header--fix
{
    /* position:relative; */
}