
.box--blur{
  background-color: rgba(255, 255, 255, 0.3);
  display:flex;
  border-radius: 35px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  font-size:25px;
  color: rgb(28,25,33);
  backdrop-filter: blur(5px);
  padding: 100px 150px;
  transition: all 0.8s ease-out;
  animation-name: anim-blur-box;
  animation-duration: 2s;

}

.box--main
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:200px;
  }

    @keyframes anim-blur-box {
    0%   {
      margin:0px;
    }
    20%  {
      margin-right:30px;
    }
    40%  {
      margin-right:0px;
    }
    60%  {
      margin-right:30px;
    }
    80%  {
      margin-right:0px;
    }
    100% {
      margin:0;
    }
    }
  .box--blur:hover{
    background-color: rgba(98, 98, 98, 0.3);
    color:white;
    }